<h1><%= @poem.title %></h1> <br>
<p><%= @poem.content %></p>
<br><br>
<form method="POST" action="/poems/<%= @poem.id%>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"><br><br>
</form>
<a href="/poems/<%= @poem.id %>/edit"><button>Edit</button></a><br><br>
<a href="/poems"><button>All Poems</button></a>
<br><br>
